body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
border-radius: 10px;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #a10000;
}

/* Set font on light areas to black */
.logo, .main, .side, .footer {
    color: #000000;
}

/* Set font on dark areas to white */
.banner, .results {
    color: #ffffff;
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
}

.side {
    grid-area: side;
    background-color: #e04825;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #e04825;
    border: solid 1px #CCC;
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Links */
a.side{font-weight: bold; text-decoration: none;}
a.side:link, a.side:visited {color: #3e3e3e;} /* dark-ish grey */
a.side:hover {color: #ffffff;} /* white */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /* dark red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* black */


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {   
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #fff; /* white */
    font-weight: normal;
}

/* Results Box Formatting*/
.results {
    font-weight: bold;
    background-color: #a10000;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
}

/* Error Box Formatting */
.error {
    background-color: #a14545; /* pale red */
    border: #a10000; /* dark red */
    color: #a10000; /* dark red */
    border-width: 5px;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
	border-style: solid;
}

/* Search Box Formatting */
.search {
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: #a10000;
}

/* Submit Button Formatting */
.submit {
    width: 75px;
    border-style: solid;
    border-radius: 5px;
    border-color: #a10000;
}


/* Style the button that triggers the dropdown */
.dropdown_button {
    width: 75px;
    border-radius: 5px;
    border-style: solid;  
    border-color: #a10000;
}

/* Style the dropdown content (hidden by default) */
.dropdown_content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
}

/* Style the dropdown links */
.dropdown_content a {
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: block;
	border-style: solid;
	border-color: #a10000;
	border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #fff;
	color: #000;
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown_content {
    display: inline;
}